<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="FRC C++ Wizards"
            id="Subsystem">
      </category>
      <wizard
            name="Subsystem"
            icon="icons/sample.gif"
            category="Subsystem"
            class="subsystemwizard.wizards.SubsystemWizard"
            id="subsystemwizard.wizards.Subsystem Wizard">
      </wizard>
   </extension>

</plugin>
